.wavesurferContainer {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 10;
}

.textAndPhrases {
	/* margin-bottom: 64px; */
	display: flex;
}

.bottomNav {
	display: flex;
	justify-content: space-between;
	margin: 5px 10px 64px 10px;
}

.bottomNav a {
	text-decoration: none;
}

.footer {
	position: fixed;
	bottom: 5px;
	right: 5px;
}
